.tiptap {
  @apply focus-within:outline-none py-8 px-6 text-sm text-neutral-800 dark:text-neutral-100;

  h1[data-node-name='heading'] {
    @apply text-4xl text-neutral-950 font-semibold mt-6 mb-5 dark:text-neutral-50;
  }
  h2[data-node-name='heading'] {
    @apply text-3xl text-neutral-950 font-semibold mt-5 mb-4 dark:text-neutral-50;
  }
  h3[data-node-name='heading'] {
    @apply text-2xl text-neutral-900 font-semibold mt-4 mb-3 dark:text-neutral-100;
  }
  h4[data-node-name='heading'] {
    @apply text-xl text-neutral-900 font-semibold mt-3 mb-2 dark:text-neutral-100;
  }
  h5[data-node-name='heading'] {
    @apply text-base text-neutral-800 font-semibold my-2 dark:text-neutral-200;
  }
  h6[data-node-name='heading'] {
    @apply text-base text-neutral-700 font-semibold my-2 dark:text-neutral-300;
  }

  p[data-node-name='paragraph'] {
    @apply text-base;
  }
  & > p[data-node-name='paragraph'] {
    @apply my-2;
  }

  pre[data-node-name='codeBlock'] {
    @apply p-2 rounded-lg shadow dark:shadow-white/10;
  }

  ul[data-node-name='bulletList'] {
    @apply list-disc ml-6;

    & ul {
      @apply list-circle ml-6;
    }

    & ul ul {
      @apply list-square ml-6;
    }
  }

  ol[data-node-name='orderedList'] {
    @apply list-decimal ml-6;
  }

  ul[data-node-name='taskList'] {
    & > li[data-node-name='taskItem'] {
      @apply flex items-center gap-2;

      & > label {
        @apply select-none;

        input {
          @apply cursor-pointer;
        }
      }
    }
  }

  blockquote[data-node-name='blockquote'] {
    @apply pl-2 border-l-4 border-solid border-stone-300;
  }

  hr[data-node-name='horizontalRule'] {
    @apply my-6 bg-stone-500;
  }

  .tableWrapper {
    @apply overflow-auto;

    & > table {
      @apply border-collapse table-fixed w-full;
    }
  }
  th[data-node-name='tableHeader'],
  td[data-node-name='tableCell'] {
    @apply border border-solid border-stone-200 dark:border-stone-800 min-w-16 px-1 py-1 relative align-top;
  }
  th[data-node-name='tableHeader'] {
    @apply font-semibold text-start bg-gray-100 dark:bg-gray-800;
  }
  .column-resize-handle {
    @apply absolute w-1 top-0 -bottom-0.5 -right-0.5 pointer-events-none bg-blue-500 z-10;
  }
  &.resize-cursor {
    @apply cursor-col-resize;
  }
}

html.dark {
  .tiptap {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
